<%- include('../partials/header') %>

<form action="/todos" method="POST">
<!-- this todo will become a property on req.body -->
    <input type="text" name="todo"> 
    <button type="submit">Save To-Do</button>
</form>

<%- include('../partials/footer') %>
